%%%-------------------------------------------------------------------
%%% -*- coding: utf-8 -*-
%%% @author Nikita Roshchupkin
%%% @copyright (C) 2015, Eltex, Novosibirsk, Russia
%%% @doc
%%%
%%% @end
%%% Created : Oct 2015
%%%-------------------------------------------------------------------
{output_dir, "release"}.
{sys_config, "release/files/sys.config"}.

{release, {sella, "0.0.1"},
    [hello_chronica]
}.

{extended_start_script, true}.
{generate_start_script, true}.