%%%-------------------------------------------------------------------
%%% -*- coding: utf-8 -*-
%%% @author Nikita Roshchupkin
%%% @copyright (C) 2015, Eltex, Novosibirsk, Russia
%%% @doc
%%%
%%% @end
%%% Created : Oct 2015
%%%-------------------------------------------------------------------
[
    {chronica,[
        {rules,[
            {error_screen,          "error",        error,      [screen], on},
            {warning_screen,        "warning",      warning,    [screen], on},
            {info_screen,           "info",         info,       [screen], on}
        ]},

        {flows,[
            {screen, [{tty, default}]}
        ]},

        {formats,[
            {default, "%Y-%M-%D %H:%Mi:%S.%Ms %PRIORITY %Pid [%Module:%Function:%Line]: %Message"}
        ]},

        {active, true},
        {rotate_at_start, false},
        {colored, true},
        {detail_info, false},
        {log_root, "log/<Year>_<Month>_<Day>_<Hour>_<Minute>_<Second>_<Node>"},
        {max_file_size, 10485760},
        {max_file_num, 5},
        {auto_testing, false},
        {sync, false}
    ]},

    {sasl, [
         {sasl_error_logger, false}
        ]}

].